// header
@mixin display($justifyCenter)
    display: flex
    justify-content: $justifyCenter
    align-items: center
main
    height: 100vh
.navbar
    background-color: #1e160ddb
    z-index: 99999
    padding-top: 15px
    .logo
        z-index: 99999

        h2
            color: #ffffff
            font-family: "Pacifico", cursive

    .list
        z-index: 99999

        ul
            li
                list-style: none
                a
                    text-decoration: none
                    color: white
                    &:focus
                        color: #ffb03b
            .dropdown
                position: relative
                ul
                    display: none
                    .dropdown
                        ul
                            display: none
                    .dropdown:hover>ul
                        display: block
                        position: absolute
                        right: 25vh
                        background-color: white
                        padding: 12px 0 12px 12px
                        width: 12vw
                        border-radius: 5px

            .dropdown:hover>ul
                display: block
                position: absolute
                top: 5vh
                background-color: white
                padding: 12px 0 12px 12px
                width: 12vw
                border-radius: 5px
                box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset

.back-img
    width: 100vw
    height: 85vh
    [data-aos^=fade][data-aos^=fade]
        opacity: 1
        transition-property: opacity, transform


    .slide
       
        .carousel-control-prev, .carousel-control-next
            z-index: 9999
        .carousel-inner

            .carousel-item
                .d-block
                    width: 100%
                    height: 100vh
                    object-fit: cover
                .carousel-caption
                    z-index: 999999
                    position: absolute
                    top: 40vh
                    left: 34vw
                    transform: translate(10px, 10px)
                    width: 33vw
                    p
                        color: white
                        text-align: start
                    h2
                        font-family: "Pacifico", cursive
                        span
                            color: #ffb03b
                .buttons
                    z-index: 9999
                    position: absolute
                    top: 70vh
                    left: 40vw
                    transform: translate(10px, 10px)
                    width: 33vw
                    a
                        text-decoration: none
                        color: white
                        border: 1px solid #ffb03b
                        border-radius: 25px
                        padding: 10px 25px
                        &:focus
                            background-color: #ffb03b
        .carousel-indicators
            z-index: 9999
            position: absolute
            bottom: 5vh

    
.menu, .checkbox, .close
    display: none
.opacity3
    display: none
.nav-respo
    display: none
@media ( max-width: 375px  )
    .nav-desk
        position: relative
        .list
            display: flex
            flex-direction: column
            align-items: flex-start
            position: absolute
            width: 70vw
            height: 40vh
            padding: 20px 0
            border-radius: 5px
            top: 0vh
            right: -300px
            background-color: white
            z-index: 999999999
            overflow: scroll
            ul
                gap: 2vh !important
                display: flex
                flex-direction: column
                li
                    a
                        color: black
                        font-size: 20px

        .menu
            color: white
            position: relative
            display: block
        .close
            display: block
            color: black
            position: absolute
            top: 5vh
            right: 5px
        nav:after
            background-color: #cfcece00

    #menu:checked~ .list
        right: 15vw
        top: 10vh
    #menu:checked ~ .opacity3
        position: absolute
        top: 0vh
        left: -26px
        opacity: 0.8
        z-index: 9999999
        background: #000
        width: 107vw
        height: 100vh
        display: block
    .back-img
        
    .carousel-inner
        .carousel-item
            .d-block
                width: 100%
                height: 100vh
                object-fit: cover
                background-size: cover
                position: relative
                .buttons
                    a
                        padding: 0 50px !important
                        width: 100% !important
                .carousel-caption
                    z-index: 9999
                    position: absolute
                    top: 40vh
                    left: 34vw
                    transform: translate(10px, 10px)
                    width: 33vw
                    display: block
   
    .aboutus
        height: 120vh !important
        padding-top: 20px
        flex-direction: column !important
        .video
            .video-position
                img
                    width: 400px !important
        .disc-video
            padding-left: 10px
            height: 100%
            width: 100vw !important
            text-align: left !important

    .whyUs
        margin-top: 25vh
        height: 119vh !important
        .content
            flex-direction: column !important
            div
                width: 85vw !important

    .ourmenu
    .plats
        .prices
            div
                .plat
                    h4
                        text-align: left !important
                        &::after
                            content: '..............' !important

    .OurSpecials
        width: 100% !important
        height: 150vh !important
    .plats

        display: unset !important
        grid-template-columns: 0
        width: 100% !important
        .name-plat
            border: none
            .plat1, .plat2, .plat3, .plat4, .plat5
                border: none
                width: 50vw
        .disc-plat
            width: 100% !important

            .disc1, .disc2, .disc3, .disc4, .disc5
                flex-direction: column !important 
                div
                    p
                        width: 85vw
                    .h1 
                        font-size: 25px !important
                        width: 50vw
            .gap-5
                gap: 0
    
    .ourEvent
        margin-top: 30vh
        width: 100%
        height: 40vh
        .slide 
            .carousel-inner 
                .carousel-item 
                    flex-direction: column
                    .d-block 
                        margin-left: 0
                        margin-top: 0
                        width: 100%
                        height: 19vh
    .book-a-table 
        .send-message 
            .submitmsg form 
                .inputs 
                    .top-inputs 
                        display: flex
                        flex-direction: column !important
                        gap: 3vh
                    